
<div class="card table-card">
  <div class="card-header">
    <div>
      <input type="text" id="productName" #productNameEl/>
      <button class="btn-warning" (click)="AddProduct(productNameEl.value)">Ekle</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ürün</th>
          <th scope="col">Fiyat</th>
          <th scope="col">İşlem</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; index as i">
          <th scope="row">{{ product.id }}</th>
          <td>
            {{ product.name }}
          </td>
          <td>{{ product.price }}</td>
          <td><button class="btn-danger" (click)="DeleteProduct(product.id)">Sil</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
